img{
    float: left;
    width: 500px;
    height: 500px;
    padding-right: 10%;
}
body{
    background-color: #ffdecf;
}
h1{
    color: #595238;
}
.description{
    background-color: #87431d;
}
.about{
    text-align: center;
}
