img{
    float: left;
    width: 250px;
    height: 250px;
    padding-right: 10%;
}
body{
    background-color: #ffdecf;
}
h1{
    color: #595238;
}
.about{
    background-color: #ffaa71;
    padding-left: 5%;
}
#space{
    padding-left: 28%;
}